/managed_components/
/build/
/debug/
/sdkconfig
/sdkconfig.old

CMakeCache.txt
CMakeFiles/
cmake_install.cmake

*.o
*.obj
*.d
*.elf
*.bin
*.map

partition_table/

*.log
*.trace
*.json

.vscode/
.devcontainer/

.clangd

.DS_Store
